.centre {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.box {
background: rgba(12, 12, 12, 0.9);
box-shadow: inset 0px 0px 4px #F5C518;
width: 415px;
height: 708px;
}
button {
width: 382px;
height: 56px;
background: #2AF598;
border-radius: 28px;
font-family: Josefin Sans;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 26px;
text-align: center;

color: #FFFFFF;


}